#system configurations
systemsetting.applicationName = cougar
systemsetting.nairaSymbol=N
systemsetting.systemEmailAddress=noreply@interswitchgroup.com
systemsetting.author=adeola.ojo

#rabbit mq configurations
systemsetting.rabbitMqHost=localhost
#systemsetting.rabbitMqHostUsername=
#systemsetting.rabbitMqHostPassword=

#sql server config
systemsetting.sqlserverIp=127.0.0.1
systemsetting.sqlserverPort=1433
systemsetting.sqlServerPassword=password
systemsetting.sqlServerUsername=sa
systemsetting.sqlServerDatabase=uat_dev_db
systemsetting.mode=1